/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

/* General Styles */
body {
    font-family: 'Poppins', Poppins;
    background-color: #562193;
    color: #333;
    margin: 0;
    padding: 0;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    min-height: 100vh;
    box-sizing: border-box;
}

header {
    background-color: #d1c7e4;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 25px 25px 25px 25px
}

header img {
    width: 200px;
}

h1 {
    color: #562193;
    font-size: 28px;
    margin: 1px 0;
    font-weight: 600;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px 0 20px 0;
    box-sizing: border-box;
    margin: auto;
}

p {
    color: #d1c7e4;
    font-size: 18px;
    max-width: 800px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.6;
}

button {
    background-color: #f96b0d;
    color: white;
    padding: 15px 30px;
    margin: 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #fc8404;
    transform: scale(1.05);
}

.activity-container {
    /*display: flex;*/
    /*overflow-x: scroll;*/
    /*scroll-snap-type: x mandatory;*/
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.activity-box {
    background-color: #d1c7e4;
    border: 2px solid #f96b0d;
    border-radius: 15px;
    padding: 20px;
    width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: start;
    box-sizing: border-box;
}

.activity-box h2 {
    color: #562193;
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 600;
}

.activity-box p {
    color: #562193;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.5;
}

audio {
    margin-bottom: 20px;
}

.timer {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #e74c3c;
}

.start-btn, .finish-btn, .upload-btn, .back-btn {
    background-color: #f96b0d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin: 5px;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.start-btn:hover, .finish-btn:hover, .upload-btn:hover, .back-btn:hover {
    background-color: #562193;
    transform: scale(1.05);
}

.box {
    /*padding: 15px;*/
    /*margin: 10px;*/
    display: flex;
}

.upload {
    display: block;
    margin-top: 10px;
}

.swiper {
    width: 100%;
}

.swiper-slide {
    width: 90%;
    margin-bottom: 10px;
    height: unset;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.swiper-slide-prev {
    display: flex;
    justify-content: end;
}

.swiper-slide-next {
    display: flex;
    justify-content: start;
}

/*.swiper-slide-active > .box {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

.swiper-pagination {
    margin-top: 5px;
}

.grid-view > .swiper-wrapper {
    flex-wrap: wrap;
    justify-content: center;
}

.grid-view .swiper-slide {
    width: unset;
    margin: 10px;
}

.grid-view .swiper-pagination {
    display: none;
}

.view-switcher-container {
    width: 100%;
    display: flex;
    justify-content: end;
}

.view-switcher-container .view-switcher-elem {
    margin: 5px;
    padding: 5px;
    border: 2px solid #f96b0d;
    border-radius: 10px;
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
}

.view-switcher-container .view-switcher-elem:nth-child(1) {
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    /*border-right: none;*/
}

.view-switcher-container .view-switcher-elem:nth-child(2) {
    margin-left: 0;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.view-switcher-container button {
    background-color: unset;
    color: #f96b0d;
    padding: unset;
    margin: unset;
    border: none;
    border-radius: unset;
    font-size: unset;
    font-weight: unset;
    transition: unset;
    box-shadow: unset;
}

.view-switcher-container button.disable {
    cursor: default;
}

.view-switcher-container button.disable:hover {
    cursor: default;
    transform: unset;
}

@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    button {
        padding: 12px 25px;
        font-size: 14px;
    }

    .activity-container {
        /*flex-direction: column;*/
        /*overflow-y: auto;*/
        width: 100%;
    }

    .activity-box {
        width: 100%;
        max-width: 500px;
    }

    .activity-box h2 {
        font-size: 20px;
    }

    .activity-box p {
        font-size: 14px;
    }

    .timer {
        font-size: 28px;
    }

    .start-btn, .finish-btn, .upload-btn, .back-btn {
        padding: 8px 16px;
        font-size: 12px;
    }

    .grid-view.activity-container {
        padding: unset;
    }
    .grid-view .swiper-slide {
        width: 100%;
        margin: 0;
    }

    .grid-view .box {
        margin: 10px;
    }
}

@media (max-width: 375px) {
    audio {
        width: 250px;
    }
}
/* You can style the audio player here */
.audio-player {
    width: 300px;
    margin: 20px;
}
